.Effect {
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 4px 4px 0;
    height: 42px;
    width: 42px;
    border-radius: 8px;
    color: white;
}

.Effect .proke {
    cursor: pointer;
    width: 42px;
    height: 7px;
    position: absolute;
    margin-top: -35px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);

    font-size: 10px;
    font-family: monospace;
    text-align: center;
}

.Effect h5 {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: monospace;
    height: 8px;
    width: 8px;
    padding: 0 2px 3px;
}