.EffectSelection {
    position: relative;
    justify-content:center;

    color: white;
    background-color: rgb(247, 147, 30);
    border-radius: 8px;
    padding-left: 4px;
    margin-bottom: 4px;

    flex-wrap: wrap;
    display: flex;
    flex-direction: row;

    width: auto;
    align-items: center;
}

.effectToSelect {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 4px 4px 0;
    height: 21px;
    width: 21px;

    border-radius: 8px;
    color: white;
}